* {
  box-sizing: border-box;
}
#root {
  width: 100%;
  min-height: 100%;
}
.App {
  min-height: 100%;
}
.heading {
  padding: 5px 0;
  text-decoration: underline;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  outline: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 5px 15px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border: 1px solid rgba(25, 118, 210, 0.5);
  color: #1976d2;
  margin: 0px 0px 0px 16px;
}
.btn.--icon {
  min-width: 32px;
  padding: 8px;
}
.btn.--icon svg {
  fill: #1976d2;
}
.btn:first-child {
  margin-left: 0; /* remove the left from first */
}
.btn:last-child {
  margin-right: 0; /* remove the right from last*/
}
.user-list,
.user-media {
  margin: 10px 0;
  /* height: calc((100vh - 125px) / 2); */
}
.user-list-table {
  padding: 15px 10px;
}
.user-list-table .row {
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-direction: row;
  margin: 10px 0;
}
.user-list-table .col {
  display: flex;
  align-items: center;
}
.user-list-table .status-col,
.user-list-table .uid-col {
  flex: 1;
}
.user-list-table .uid-col {
  justify-content: center;
}
.user-list-table .actions-col {
  flex: 2;
  justify-content: flex-end;
}
.status-badge {
  padding: 8px;
  width: 150px;
  border-radius: 10px;
  background-color: #888;
  color: #fff;
  text-align: center;
}
.status-badge.subscribed {
  height: 30;
  min-width: 100;
  background-color: green;
}
.status-badge.waiting {
  height: 30;
  min-width: 100;
  background-color: yellow;
}
/* user media css */
.user-media-table .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0;
}
.media-card {
  width: 300px;
  height: 250px;
  border: 1px solid #000;
  margin: 10px;
}
.media-card .--video {
  height: 150px;
}
.media-card .--actions {
  display: flex;
  align-items: center;
  margin: 10px;
  margin-top: 15px;
}
.remote-video-container {
  height: 100%;
  width: 100%;
  background-color: yellow;
  text-align: center;
}
